@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#up, #down, #left, #right {
  pointer-events: none;
  will-change: transform;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114));
  color: white;
  text-align: center;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#up{
  z-index: -1;
  position:absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(43, 247, 202, 0.5));
  filter: blur(80px);
  animation: down 20s infinite
}
#down{
  z-index: -1;
  position:absolute;
  right: 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, rgba(245, 207, 82, 0.8), rgba(199, 10,114));
  filter:blur(80px);
  animation: up 15s infinite;
}
#left{
  z-index: -1;
  position:absolute;
  right: 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
background-image: linear-gradient(80deg, rgba(5, 124, 172), rgba(183, 253, 52, 0.8));  filter:blur(80px);
  animation: left 15s 1s infinite;
}
#right{
  z-index: -1;
  position:absolute;
  right: 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
background-image: linear-gradient(80deg, rgba(26, 248, 18, 0.6), rgba(199, 10, 52, 0.8));  filter:blur(80px);
  animation: right 15s .5s infinite;
}
@keyframes down{
  0%, 100%{
    top: -100px;
  }
  70%{
    top: 700px;
  }
}
@keyframes up{
  0%, 100%{
    bottom: -100px;
  }
  70%{
    bottom: 700px;
  }
}
@keyframes left{
  0%, 100%{
    left: -100px;
  }
  70%{
    left: 1300px;
  }
}
@keyframes right{
  0%, 100%{
    right: -100px;
  }
  70%{
    right: 1300px;
  }
}

h1 {
      font-size: 64px;
      margin: 30px;
}


.box{
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    width:fit-content;
    padding:30px;
    color: black;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
}


.locations p {
    margin-bottom: 20px;
    font-size: 18px; /* Adjust font size for the paragraph */
    font-weight: bold; /* Make the paragraph bold */
}
.return {
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    border-radius: 40%;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.btn-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.image{
  border-radius: 10px;
}